"*":
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    outputDebug: true
    outputProviderErrors: true
    useKite: false
  "bracket-matcher": {}
  core:
    themes: [
      "one-dark-ui"
      "gruvbox"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
      "file-type-icons"
      "vim-mode-plus"
    ]
    editor:
      multiCursorOnClick: true
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    fontSize: 15
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "7ef383a4-a920-41bb-a00c-289200831fcf"
  "git-blame":
    columnWidth: 323
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-terraform-syntax":
    checkRequiredVar: false
    newVersion: true
  "linter-ui-default": {}
  "python-black":
    lineLength: 120
  "seti-syntax":
    dynamicColor: false
    themeColor: "Blue"
  "seti-ui":
    compactView: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    setCursorToStartOfChangeOnUndoRedoStrategy: "simple"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
