"*":
  "autocomplete-plus":
    enableAutoActivation: false
  "bracket-matcher": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "7ef383a4-a920-41bb-a00c-289200831fcf"
  "git-blame":
    columnWidth: 323
  "linter-terraform-syntax":
    checkRequiredVar: false
    newVersion: true
  "python-black":
    lineLength: 120
  "seti-syntax":
    dynamicColor: false
    themeColor: "Blue"
  "seti-ui":
    compactView: true
  "vim-mode-plus":
    setCursorToStartOfChangeOnUndoRedoStrategy: "simple"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
