# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
'.source.coffee':
  'Console log':
    'prefix': 'log'
    'body': 'console.log $1'

'.source.python':
  'NotImplemented':
    'prefix': 'not'
    'body': "raise NotImplementedError"
  'Log':
    'prefix': 'log'
    'body': "self.log.info(f'$1')"
  'Property':
    'prefix': 'prop'
    'body': '@property\ndef ${1:prop}(self):\n    $2'
  'ClassMethod':
    'prefix': 'classmethod'
    'body': '@classmethod\ndef ${1:classmethod}(cls):\n    $2'
